## Coletando os dados

In [8]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# lista do caminho dos arquivos em formato csv
arquivos_csv = [
    r'D:\Projetos\Analise_dados_PRF_acidentes\files\acidentes2020.csv',
    r'D:\Projetos\Analise_dados_PRF_acidentes\files\acidentes2021.csv', 
    r'D:\Projetos\Analise_dados_PRF_acidentes\files\acidentes2022.csv',
    r'D:\Projetos\Analise_dados_PRF_acidentes\files\acidentes2023.csv'
]

In [5]:
# lista de arquivos armazenados
dfs = []

#lê cada arquivo e inclui na lista dfs
for arquivo in arquivos_csv:
    df = pd.read_csv(arquivo, delimiter=';', encoding='ISO-8859-1')
    dfs.append(df)

In [6]:
# concatena os arquivos da lista dfs
df_final = pd.concat(dfs, axis=0, ignore_index=True)

In [7]:
df_final.shape

(576136, 35)

### Criação do Metadados

In [10]:
def generate_metadata(dataframe):
    """
    Gera um dataframe contendo metadados das colunas do dataframe fornecido.

    :param dataframe: DataFrame para o qual os metadados serão gerados.
    :return: DataFrame contendo metadados.
    """

    # Coleta de metadados básicos
    metadata = pd.DataFrame({
        'nome_variavel': dataframe.columns,
        'tipo': dataframe.dtypes,
        'qt_nulos': dataframe.isnull().sum(),
        'percent_nulos': round((dataframe.isnull().sum() / len(dataframe))* 100 ,2),
        'cardinalidade': dataframe.nunique(),
    })
    metadata=metadata.sort_values(by='tipo')
    metadata = metadata.reset_index(drop=True)# reseta o indice do DataFrame e apaga o índice antigo

    return metadata

In [11]:
generate_metadata(df_final)

             nome_variavel     tipo  qt_nulos  percent_nulos  cardinalidade
0            feridos_leves    int64         0           0.00              2
1                   ilesos    int64         0           0.00              2
2           feridos_graves    int64         0           0.00              2
3                   mortos    int64         0           0.00              2
4               id_veiculo    int64         0           0.00         400417
5                       br  float64      1726           0.30            122
6                    pesid  float64         4           0.00         576132
7                    idade  float64     57598          10.00            173
8   ano_fabricacao_veiculo  float64     38930           6.76             70
9                       id  float64         0           0.00         242355
10               longitude   object         0           0.00         107476
11                regional   object        24           0.00             28
12            tipo_veiculo   object         0           0.00             25
13                    sexo   object         0           0.00              4
14           estado_fisico   object         0           0.00              5
15          tipo_envolvido   object         0           0.00              6
16                   marca   object     31159           5.41          17921
17                latitude   object         0           0.00         107491
18                uso_solo   object         0           0.00              2
19             tracado_via   object         0           0.00             10
20              tipo_pista   object         0           0.00              3
21  condicao_metereologica   object         0           0.00             10
22             sentido_via   object         0           0.00              3
23                fase_dia   object         0           0.00              4
24  classificacao_acidente   object         0           0.00              3
25           tipo_acidente   object         0           0.00             20
26          causa_acidente   object         0           0.00             90
27               municipio   object         0           0.00           1969
28                      km   object      1726           0.30           9305
29                      uf   object         0           0.00             27
30                 horario   object         0           0.00           1437
31              dia_semana   object         0           0.00              7
32            data_inversa   object         0           0.00           1369
33               delegacia   object      3354           0.58            151
34                     uop   object      1714           0.30            412

### Filtrando os dados para o bojetivo do projeto

In [15]:
df_obt = df_final.loc[(df_final['mortos']==1)]

In [16]:
df_obt.shape

(20249, 35)

In [17]:
generate_metadata(df_obt)

             nome_variavel     tipo  qt_nulos  percent_nulos  cardinalidade
0            feridos_leves    int64         0           0.00              1
1                   ilesos    int64         0           0.00              1
2           feridos_graves    int64         0           0.00              1
3                   mortos    int64         0           0.00              1
4               id_veiculo    int64         0           0.00          17803
5                       br  float64        15           0.07            110
6                    pesid  float64         0           0.00          20249
7                    idade  float64      1106           5.46            105
8   ano_fabricacao_veiculo  float64      2255          11.14             64
9                       id  float64         0           0.00          17421
10               longitude   object         0           0.00          15773
11                regional   object         0           0.00             27
12            tipo_veiculo   object         0           0.00             22
13                    sexo   object         0           0.00              3
14           estado_fisico   object         0           0.00              1
15          tipo_envolvido   object         0           0.00              4
16                   marca   object      1920           9.48           4615
17                latitude   object         0           0.00          15774
18                uso_solo   object         0           0.00              2
19             tracado_via   object         0           0.00             10
20              tipo_pista   object         0           0.00              3
21  condicao_metereologica   object         0           0.00              9
22             sentido_via   object         0           0.00              3
23                fase_dia   object         0           0.00              4
24  classificacao_acidente   object         0           0.00              1
25           tipo_acidente   object         0           0.00             20
26          causa_acidente   object         0           0.00             85
27               municipio   object         0           0.00           1727
28                      km   object        15           0.07           5729
29                      uf   object         0           0.00             27
30                 horario   object         0           0.00            996
31              dia_semana   object         0           0.00              7
32            data_inversa   object         0           0.00           1369
33               delegacia   object       137           0.68            150
34                     uop   object        43           0.21            403